* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
    background-color:  rgb(133, 131, 131) ;;
    
}

#calculatorContainer {
    margin: 100px;
    display: flex;
    flex-direction: column;
    background-color:  rgb(146, 203, 184);
    width: 400px;
    height: 640px;
    border-radius: 15px;
    
}

#displayContainer {
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 30px;
    border-radius: 15px;
    background-color: rgb(70, 68, 68);
    color: rgb(158, 128, 158);
    width: 340px;
    height: 120px;
    text-align: center;
    padding: 30px;
    font-size: 40px;

}

#buttonContainer {
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    background-color: rgb(203, 200, 200) ;
    height: 480px;
    width: 340px;
    flex-wrap: wrap;
    gap: 0px 10px;
    justify-content: center;
    align-items: center;

    button {
        width: 70px;
        height: 70px;
        border-radius: 40px;
        font-size: 25px;
        color: rgb(158, 128, 158);;
    }

    #zero {
        width: 150px;
    }

    #one, #two, #three, #four,
    #five, #six, #seven, #eight,
    #nine, #zero, #del {
        background-color:  rgb(70, 68, 68);
    }

    #add, #subs, #divi,
    #multi, #equal {
        background-color: rgb(146, 203, 184);
    }


}



