* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorContainer {
    display: flex;
    flex-direction: column;
    border: solid 3px black;
    width: 400px;
    height: 500px;
    gap: 30px;
}

#displayContainer {
    margin: 10px;
    border: solid 3px black;
    width: 370px;
    height: 80px;

}

#buttonContainer {
    margin: 10px;
    display: flex;
    border: solid 3px black;
    height: 400px;
    width: 370px;
}